<table class="educationTable">
  <tbody>
    <tr valign="top">
      <th class="sectionHeading" style="width: 100%;">
        CERTIFICATIONS
      </th>
    </tr>
    <tr>
      <td style="width: 100%;">
        <ul>
          <li>
            Ruby Association Certified Ruby Programmer Gold version 2.1.
          </li>
          <li>
            Oracle Certified Java Programmer.
          </li>
          <li>
            Google IT Support Professional Certification.
          </li>
          <li>
            Scrum Master Certified Enigineer.
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>