<table class="educationTable">
  <tbody>
    <tr valign="top">
      <th class="sectionHeading" style="width: 100%;">
        CERTIFICATIONS
      </th>
    </tr>
    <tr>
      <td style="width: 100%;">
        <ul>
          <% @personal.certifications.lines.each do |certification| %>
            <li><%= certification %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  </tbody>
</table>