<table class="experienceTable">
  <tbody>
    <tr valign="top">
      <td class="sectionHeading" style="width: 100%; color: <%= @color_theme %>" colspan="2">
        <i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;EXPERIENCE
      </td>
    </tr>
    <% @works.each do |work| %>
      <tr>
        <td class="experienceDesignation"style="width: 80%;" colspan="2">
          <%= work.designation %>
        </td>
      </tr>
      <tr valign="top">
        <td style="width: 100%;" colspan="2">
          <%= work.company_name + " | " + work.work_from.strftime("%Y-%m") + " ~ " + (work.work_to.to_s.empty? ? "Present" : work.work_to.strftime("%Y-%m")) %>
        </td>
      </tr>
      <% work.job_description.lines.each do |description|%>
        <tr>
          <td width="5%" class="bulletPointMainList" align="center">
            <i class="fa fa-circle fa-xs" aria-hidden="true"></i>
          </td>
          <td style="width: 95%;" class="text-justify mainBulletPointFontSize">
            <%= description %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
