<table>
  <tbody>
    <tr>
      <td colspan="2" class="marginHeading" style="width: 100%;">
        <i class="fa fa-globe" aria-hidden="true"></i>&nbsp;LANGAUGES
      </td>
    </tr>
    <% @personal.known_languages.lines.each do |skill| %>
      <tr>
        <td width="5%" class="bulletPointMarginList" align="left">
          <i class="fa fa-circle fa-xs" aria-hidden="true"></i>
        </td>
        <td width="95%" class="marginList" align="left">
          &nbsp;<%= skill %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>