<table>
  <tbody>
    <tr>
      <td colspan="2" class="marginHeading" style="width: 100%;">
        LANGAUGES
      </td>
    </tr>
    <tr>
      <td class="marginList" align="left">
        <ul class="interestList">
          <% @personal.known_languages.lines.each do |skill| %>
            <li><%= skill %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  </tbody>
</table>