<table class="nameProfileTable">
  <tbody>
    <tr>
      <th class="name" style="width: 100%;">
        <%= @personal.first_name + " " + @personal.last_name %>
      </th>
    </tr>
    <tr>
      <td class="designationName">
        IT PROFESSIONAL
      </td>
    </tr>
  </tbody>
</table>