<table class="nameProfileTable">
  <tbody>
    <tr valign="top">
      <th class="sectionHeading" style="width: 100%;">
        PERSONAL PROFILE
      </th>
    </tr>
    <tr>
      <td>
        <%= @personal.personal_profile%>
      </td>
    </tr>
  </tbody>
</table>