<table>
  <tbody>
    <tr>
      <th class="marginHeading" style="width: 100%;">
        SKILLS SUMMARY
      </th>
    </tr>
    <tr>
      <td class="marginList" align="left">
        <ul class="interestList">
          <% @personal.technical_skills.lines.each do |skill| %>
            <li><%= skill %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  </tbody>
</table>