default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: db
  port: 5432
  username: postgres
  password: password
  timeout: 5000

development:
  <<: *default
  database: cv_creator_development

test:
  <<: *default
  database: cv_creator_test

production:
  <<: *default
  database: cv_creator_production