<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Resume No.</th>
          <th scope="col">Resume Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Google</td>
          <td><%= link_to 'PDF', resume_path(current_user, format: "pdf") %></td>
        </tr>
        <tr>
        <th scope="row">2</th>
          <td>Rakuten</td>
          <td>PDF</td>
        </tr>
      </tbody>
  </table>
</div>