<table>
  <tbody>
    <tr>
      <th class="marginHeading" style="width: 100%;">
        Area of Interest
      </th>
    </tr>
    <tr>
      <td class="marginList">
        <ul class="interestList">
          <li>Web Development</li>
          <li>System Engineer</li>
          <li>Bridge Engineer</li>
          <li>Artificial Intelligence</li>
          <li>Machine Learning</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>