<table class="educationTable">
  <tbody>
    <tr valign="top">
      <th class="sectionHeading" style="width: 100%;">
        EDUCATION
      </th>
    </tr>
    <tr>
      <td class="experienceDesignation"style="width: 80%;">
        B-Tech
      </td>
    </tr>
    <tr valign="top">
      <td style="width: 100%;">
        SCMS SCHOOL OF ENGINEERING AND TECHNOLOGY | 2010 ~ 2014
      </td>
    </tr>
    <tr valign="top">
      <td style="width: 100%;">
        <ul>
          <li>
            Active Participant of Hackathon.
          </li>
          <li>
            Created  an android application as a mini project.
          </li>
          <li>
            Created a Drowsy driver system as a main project. 
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="experienceDesignation"style="width: 80%;">
        M-Tech
      </td>
    </tr>
    <tr valign="top">
      <td style="width: 100%;">
        MIT USA | 2014 ~ 2016
      </td>
    </tr>
    <tr valign="top">
      <td style="width: 100%;">
        <ul>
          <li>
            Best Student in the Batch.
          </li>
          <li>
            Created a Project which is recognised by the USA Government.
          </li>
          <li>
            University Chair Person in the year 2016. 
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="experienceDesignation"style="width: 80%;">
        MBA
      </td>
    </tr>
    <tr valign="top">
      <td style="width: 100%;">
        IIM | 2016 ~ 2018
      </td>
    </tr>
    <tr valign="top">
      <td style="width: 100%;">
        <ul>
          <li>
            Best Student in the Batch.
          </li>
          <li>
            Introduced intellectaul ideas to many MNCs as part of projects.
          </li>
          <li>
            Elected as IIM board member. 
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>