<table class="experienceTable">
  <tbody>
    <tr valign="top">
      <th class="sectionHeading" style="width: 100%;">
        EXPERIENCE
      </th>
    </tr>
    <tr>
      <td class="experienceDesignation"style="width: 80%;">
        SYSTEM ENGINEER
      </td>
    </tr>
    <tr valign="top">
      <td style="width: 100%;">
        MICROSOFT CO.LTD | 2014-02 ~ 2018-04
      </td>
    </tr>
    <tr valign="top">
      <td style="width: 100%;">
        <ul>
          <li>
            Introduced windows 2014 to microsoft.
          </li>
          <li>
            Created the specification of Microsoft windows Surface Pro.
          </li>
          <li>
            Introduced the idea to buy Github.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="experienceDesignation"style="width: 80%;">
        CHIEF TECHNICAL OFFICER
      </td>
    </tr>
    <tr valign="top">
      <td style="width: 100%;">
        GOOGLE | 2018-06 ~ Present
      </td>
    </tr>
    <tr valign="top">
      <td style="width: 100%;">
        <ul>
          <li>
            Introduced Youtube to Google.
          </li>
          <li>
            Introduced Google Map and Android OS.
          </li>
          <li>
            Created the Specification of Google Pixel.
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
