<table>
  <tbody>
    <tr>
      <th class="marginHeading" style="width: 100%;">
        Language Skills
      </th>
    </tr>
    <tr>
      <td class="marginList" align="left">
        <ul class="interestList">
          <li>English</li>
          <li>Japanese</li>
          <li>Malayalam</li>
          <li>Hindi</li>
          <li>Tamil</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>