<table class="nameProfileTable">
  <tbody>
    <tr>
      <th class="name" style="width: 100%;">
        AKSHAY PASHNATH SURESH
      </th>
    </tr>
    <tr>
      <td class="designationName">
        IT PROFESSIONAL
      </td>
    </tr>
  </tbody>
</table>