<table>
  <tbody>
    <tr>
      <th colspan="2" class="marginHeading" style="width: 100%;">
        PersonalInformation
      </th>
    </tr>
    <tr>
      <td align="center" valign="top" class="marginList"  style="width: 20%;">
        <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
      </td>
      <td class="marginList" style="width: 90%;">
        ABC Builiding Room No.123, Agenogi 1-11-1
        Matsue City, Shimane, Japan 000-0000
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" class="marginList"  style="width: 20%;">
        <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
      </td>
      <td class="marginList" style="width: 90%;">
        akshayps96@gamil.com
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" class="marginList"  style="width: 20%;">
        <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
      </td>
      <td class="marginList" style="width: 90%;">
       +81-(000)-(0000)
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" class="marginList"  style="width: 20%;">
        <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
      </td>
      <td class="marginList" style="width: 90%;">
        https://builder.zety.com/resume/
        section/cntc?e=c30103c0c301_4
      </td>
    </tr>
  </tbody>
</table>