<table class="nameProfileTable">
  <tbody>
    <tr valign="top">
      <th class="sectionHeading" style="width: 100%;">
        PERSONAL PROFILE
      </th>
    </tr>
    <tr>
      <td>
      I am an IT Professional with holistic knowledge of software
      development and design. I am also experienced in
      coordinating with stakeholders.
      </td>
    </tr>
  </tbody>
</table>