<table>
  <tbody>
    <tr>
      <th class="marginHeading" style="width: 100%;">
        Technical Skills
      </th>
    </tr>
    <tr>
      <td class="marginList" align="left">
        <ul class="interestList">
          <li>Ruby On Rails</li>
          <li>Java</li>
          <li>SQL</li>
          <li>Web development</li>
          <li>Mobile Development</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>