<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span><%= t('footer.contact_us') %> <i class="fa fa-envelope fa-lg" aria-hidden="true"></i> <em><%= t('footer.contact_mail_address') %></em></span>
        </div>
    </div>
</footer>